backup_script: |

  #!/bin/bash

  # Exit on error, undefined variable and command pipe failures
  set -eu -o pipefail

  for profile_path in /etc/restic/profiles.d/*.toml; do
      profile_basename=$(basename "${profile_path}");
      profile_name="${profile_basename%.*}";
      if [ "${profile_name}" = '*' ]; then
          exit;
      fi
      /usr/bin/resticprofile --no-prio --no-ansi --config /etc/restic/profiles.yaml --name $profile_name backup;
  done

configuration: |
  version: "1"
  includes:
    - profiles.d/*.toml

  default_configuration:
    cache-dir: /var/cache/restic
    prometheus-push: "http://prometheus-prometheus-pushgateway.monitoring.svc.cluster.local:9091/"
    backup:
      # This is necessary to save the metrics in prometheus files
      extended-status: true
      exclude-caches: true


repositories:
  backblaze:
    inherit: default_configuration
    repository: "s3Url"


  local:
    inherit: default_configuration
    repository: "/mnt/kubernetes-restic"

profiles:
  myApplication:
    namespace: myApplication
    deployment: myApplication
    # Whether to scale down the deployment before the snapshot
    stop: true
    # This is free-form and is only used inside restic as the host value.
    host: myapp.example.com
    # The folder to back up. This should match the PVC mount point.
    folders:
      - /var/lib/myapp
