apiVersion: batch/v1
kind: CronJob
metadata:
  name: {{ include "rafdir.name" . }}
  labels:
    {{- include "rafdir.labels" . | nindent 4}}
spec:
  # It doesn't make sense to run two backups in parallel. If the backup run
  # takes so long that a new backup starts then the schedule is wrong.
  concurrencyPolicy: Forbid
  # Cron schedule that runs once a day
  schedule: "0 0 * * *"
  jobTemplate:
    metadata:
      labels:
        {{- include "rafdir.labels" . | nindent 8 }}
    spec:
      template:
        metadata:
          labels:
            {{- include "rafdir.labels" . | nindent 12 }}
        spec:
          serviceAccountName: {{ include "rafdir.name" . }}
          containers:
          - name: rafdir
            image: "ghcr.io/javex/rafdir:latest"
            imagePullPolicy: Always
            {{- with .Values.container.args }}
            args:
              {{- toYaml . | nindent 14 }}
            {{- end }}
            env:
              - name: RAFDIR_DB_URL
                valueFrom:
                  secretKeyRef:
                    name: {{ .Values.externalSecret }}
                    key: db-url
              - name: RAFDIR_SECRET_NAME
                value: {{ .Values.externalSecret }}
          restartPolicy: Never
